.faded { opacity: 0.6; }

.my0 { margin-top:0 !important; margin-bottom:0 !important; }
.my1 { margin-top:1rem !important; margin-bottom:1rem !important; }
.my2 { margin-top:2rem !important; margin-bottom:2rem !important; }

.mt0 { margin-top: 0 !important; }
.mt-nudge { margin-top: 0.5rem !important; }
.mt1 { margin-top: 1rem !important; }
.mt2 { margin-top: 2rem !important; }

.mb0 { margin-bottom: 0 !important; }
.mb1 { margin-bottom: 1rem !important; }
.mb2 { margin-bottom: 2rem !important; }